<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Largest Online Mango Shop in Bangladesh. Buy Mango From ChapaiNawabganj">
    <meta name="keywords" content="eCommerce,Shop,fashion,">
    <meta name="author" content="RoMi">
    <title>GOUR BAZAR | BUY MANGO ONLINE</title>

    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="js/jquery.js" type="text/javascript"></script>
</head>

<body> 
    <div class="header_wrapper ">    
        <div class="container">
            <div class="col-sm-2">  
                <p class="account">           
                    <a href="#">Log in</a>             
                    &nbsp; &middot; &nbsp;
                    <a href="#">Create account</a>  
                </p>         
            </div>
            <div class="col-sm-8">
                <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"><p>বাংলাদেশের সর্ববৃহৎ আমের বাজার কানসাট বাজারের দাম অনুযায়ী প্রতিদিন সকাল ১০ টায় আমাদের দাম আপডেট করা হয়</p></marquee>
            </div>        
            <div class="col-sm-2">
                <div class="header-search">
                    <form action="" method="get" role="search">              
                        <input class="form-control" type="tsxt" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>    
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">GourBazar</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">MANGO SHOP</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown Example<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Link One</a></li>
                            <li><a href="#">Link Two</a></li>
                        </ul>
                    </li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="main-content">
        <div class="blog_article-image" style="background-image: url('images/5_things.jpg');"></div>
        <div class="article-background">
            <div class="container">
                <article class="col-sm-8 col-sm-offset-2">
                    <div class="blog_article blog_article-over-image blog_simple">
                        <header>
                            <div class="article-title">
                                <h3>5 Things To Do Before a Friend Stops By</h3>
                            </div>
                            <p class="article-pre-em">
                                <span class="em">Posted by:</span>&nbsp;<span class="uppercase">Rebecca Atwood</span>
                            </p>
                        </header>
                        <div class="blog_article_content">
                            <p>I always envision I will host more dinner parties and gatherings at home, but the truth is life often gets busy and those perfect plans don't happen. More often than not I see my friends at impromptu times when one of us texts the other and swings by for a quick visit after work. I don't know about you but my home isn't usually picture perfect for those times! Good friends don't mind of course, but here are my top 5 things I try and do before someone pops by.</p>
                            <p>1) Refill your water filter. Offering your friend a fresh glass of water when they arrive is always appreciated.</p>
                            <p><img src="images/5_things_to_do_before.jpg" class="img-responsive" alt="">
                            <img src="images/5_things_to_do.jpg" class="img-responsive" alt=""></p>
                            <p>What are your tips? Share them below. </p>
                        </div>
                        <div class="text-center article-tags">
                            <span class="article-pre-em em">Tagged With &nbsp;</span>
                            <a class="article-tag-simple" href="/">Dining</a>
                        </div>
                        <div class="text-center article-page-social">                            
                            <ul class="inline-list">
                                <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>          
                    </div>
                </article>
            </div>
        </div>
    </main>
    <footer class="site-footer-wrapper" >
        <div class="container">
            <div class="footer-secondary-wrapper">
                <ul class="footer-secondary inline-list">          
                    <li><a href="#">FAQ</a></li>          
                    <li><a href="#">Press</a></li>          
                    <li><a href="#">Shipping & Returns</a></li>          
                    <li><a href="#">Terms & Privacy</a></li>          
                </ul>        
                <div class="">
                    <ul class="footer-social inline-list">
                        <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>        
                <div class="copyright">
                    <a href="/">&copy; COPYRIGHT 2016 GourBazar</a> <br> <a href="#">MADE BY RoMi</a>
                </div>
                <div class="footer-centered-logo">
                    <i class="icon icon-ra_monogram"></i>
                </div>
            </div>
        </div>
     </footer>
    <script>
        jQuery(function($) {
            $('.simple-carousel').slick({
                dots: false,
                adaptiveHeight: true,
                autoplay: true,
                easing: 'ease-in-out',
                prevArrow: '<button type="button" class="slick-prev" style="z-index:1;">Previous</button>',
                nextArrow: '<button type="button" class="slick-next">next</button>'
            });
         });

        jQuery(function($) {
            $('.process-carousel').slick({
                dots: true,
                adaptiveHeight: true,
                autoplay: true,
                autoplaySpeed: 5000,
                customPaging : function(slider, i) {
                return '<div class="story-step step' + (i+1) + '">' + (i + 1) + '</div>';
                }
            });
            $('.step1').after("<span>EXPERIMENTING</span>");
            $('.step2').after("<span>CREATION</span>");
            $('.step3').after("<span>SAMPLING</span>");
         });
    </script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script> 
    <script src="js/custom.js" type="text/javascript"></script> 
    <script type="text/javascript" src="js/slick.min.js"></script>
</body>
</html>
